@import url(html5reset.css);
html {
	background-color:white;
	-webkit-transition:background-color 1s;
}

body {
	padding:100px;
	font-family:futura-pt-1,futura-pt-2,sans-serif;
	font-style:normal;
}

body, h1, h2 {
	-webkit-transition: font-size .5s
}

body>section, footer {
	background-color:gainsboro;
	width:auto;
	display:block;
	padding:50px;
	-webkit-transition: padding 1s;
	
}

a:link,
a:active,
a:visited {
	color:black;
	-webkit-transition:background-color .5s, text-decoration .5s;
}

a:hover {
	background-color:white;
	text-decoration:none;
}

h1 {
	font-weight:300;
	font-size:10em;
	letter-spacing:-.03em;
	line-height:1em;
}

h1 a {
	
}

h1 span {
display:inline-block;
	letter-spacing:-.06em;
}

h2{
	line-height:1em;
	margin-left:.35em;
	font-weight:400;
	font-size:1.5em;
}

body>section>ul {
	counter-reset:steps;
}

body>section>ul>li {
	counter-increment:steps;
}

body>section>ul>li:before {
	content:counter(steps);
}

body>section>hgroup ~ ul {
}

body>section>hgroup ~ ul li {
	line-height:1.5em;
}

body>section>hgroup ~ ul li:before {
	background-color:white;
	border:1px solid white;
	border-radius:1.5em;
	display:inline-block;
	width:1.5em;
	text-align:center;
	padding:.5em;
	margin:.5em;
}

body>section>p {
	margin-left:.5rem;
}


p {
	font-size:1.2em;
}

p:first-letter {
	text-transform:uppercase;
}

p ~ p {
	margin-top:1em;
}

section.message hgroup {
	font-size:.5em;
	margin-left:.7em;
}	

@media all and (min-width:1100px) {
	body {
		font-size:1.2em;
	}
}

@media all and (min-width:1380px) {
	body {
		font-size:1.5em;
	}
}

@media all and (min-width:1500px) {
	body {
		font-size:1.8em;
	}
}

@media all and (max-width:960px) {
	

	body {
		padding:30px;
	}
	
	body>section, footer {
		padding:10px;
	}
	
	p {
		font-size:1.5em;
	}
	
	body>section>p {
		margin-left:.3rem;
	}
		
	
}

@media all and (max-width:650px) {
	html {
		background-color:gainsboro;
	}

	body {
		padding:0;
	}
	
	body>section, footer {
		padding:20px;
	}
	
	h1 {
		font-size:5em;
	}
	
	h2 {
		font-size:1.2em;
	}
	
	
}